Repository blocksense-network/blocksense, pull requests merged in 2025-08, with the labels that each got.

#1551 [e2e-tests]: Use `getSingleDataAtIndex` at the e2e tests
  apps/e2e-tests/src/process-compose/e2e.spec.ts
  apps/e2e-tests/src/process-compose/types.ts
Labels: area:typescript, e2e-tests

#1465 feat(sequencer): Add round counters per provider
  Cargo.lock
  Cargo.toml
  apps/cli/src/commands/build.rs
  apps/e2e-tests/src/process-compose/e2e.spec.ts
  apps/sequencer/Cargo.toml
  apps/sequencer/sequencer_config.json
  apps/sequencer/src/aggregate_batch_consensus_processor.rs
  apps/sequencer/src/feeds/votes_result_sender.rs
  apps/sequencer/src/http_handlers/admin.rs
  apps/sequencer/src/http_handlers/data_feeds.rs
  apps/sequencer/src/providers/eth_send_utils.rs
  apps/sequencer/src/providers/multicall.rs
  apps/sequencer/src/providers/provider.rs
  apps/sequencer/src/sequencer_state.rs
  libs/config/src/lib.rs
  libs/data_feeds/src/feeds_processing.rs
  libs/feed_registry/src/registry.rs
  libs/feeds_processing/src/adfs_gen_calldata.rs
  libs/feeds_processing/src/utils.rs
  libs/registry/src/config.rs
  libs/ts/config-types/src/node-config/types.ts
  libs/ts/config-types/tests/fixtures/sequencer_config_v2.json
  nix/modules/blocksense/backends/process-compose.nix
  nix/modules/blocksense/module-opts/sequencer/default.nix
  nix/modules/blocksense/module-opts/sequencer/provider/contract.nix
  nix/modules/blocksense/module-opts/sequencer/provider/default.nix
  nix/modules/blocksense/module-opts/sequencer/provider/publishing-criteria.nix
  nix/test-environments/example-setup-01.nix
  nix/test-environments/example-setup-02.nix
  nix/test-environments/example-setup-03.nix
Labels: area:sequencer, configuration

#1577 [gh-actions]: Add docs.ws env for email form
  .github/workflows/ci.yml
  .github/workflows/on-main.yml
Labels: enhancement, area:CI
