Repository blocksense-network/blocksense, pull requests merged in 2025-07, with the labels that each got.

#1487 [readme]: Update Security.md
  .github/SECURITY.md
Labels: area:readme

#1495 [nix/example-setup-01]: Add missing `allowed-outbound-host` of `eth-rpc`
  nix/test-environments/example-setup-01.nix
Labels: area:nix, configuration

#1496 [feeds_config_v2]: Add `LQD` price feed in `stock-price-feeds` oracle
  apps/oracles/stock-price-feeds/spin.toml
  config/feeds_config_v2.json
Labels: feed_registry, configuration

#1501 [feeds_config_v2]: Fix typo
  config/feeds_config_v2.json
Labels: configuration

#1503 [docs.ws]: Fix sidebar expand/collapse behavior
  libs/ts/nextra-theme-docs/src/components/sidebar.tsx
Labels: area:docs.ws, bug-fix

#1508 [trigger-oracle]: Remove component tracing
  apps/trigger-oracle/src/lib.rs
Labels: refactoring, area:oracle-scripts

#1525 [example-setup-03/e2e-tests]: Add pegging tests and simplify feed configuration
  apps/e2e-tests/src/process-compose/e2e.spec.ts
  nix/test-environments/example-setup-03.nix
Labels: area:nix, e2e-tests

#1526 [changelog-generator]: Simplify getting the available networks
  apps/changelog-generator/package.json
  apps/changelog-generator/src/commands/list-feeds.ts
Labels: refactoring, changelog-generator
