Repository blocksense-network/blocksense, pull requests merged in 2025-05, with the labels that each got.

#1282 [oracles/stock-price-feeds]: Use `REALTIME_BULK_QUOTES` function from `AlphaVantage`
  apps/oracles/stock-price-feeds/src/providers/alpha_vantage.rs
Labels: rust, oracle

#1288 [docs]: Update Readme link in logo to point to website
  README.md
Labels: area:readme

#1280 [nft]: Remove horizontal scrolling on mobile
  apps/nft.blocksense.network/components/Hero.tsx
Labels: enhancement, area:nft

#1295 ci(gh-actions): NFT page build with deps on main
  .github/workflows/on-main.yml
Labels: github_actions, area:nft

#1296 ci(gh-actions): Add nft mint related ENV vars in the CI on main
  .github/workflows/on-main.yml
Labels: github_actions, area:CI, area:nft

#1299 fix(social-verification): Add forgotten db interaction API handles
  apps/social-verification/src/endpoints.ts
Labels: area:nft

#1302 ci(gh-actions): Add `NEXT_PUBLIC_X_BLOCKSENSE_TWEET_ID` env needed for `nft`
  .github/workflows/ci.yml
  .github/workflows/on-main.yml
Labels: github_actions, area:CI, area:nft

#1306 [oracles/stock-price-feeds]: Market hours
  apps/oracles/stock-price-feeds/src/lib.rs
  apps/oracles/stock-price-feeds/src/utils.rs
Labels: rust, oracle

#1329 [nft]: Freeze inputs state while minting
  apps/nft.blocksense.network/components/Discord.tsx
  apps/nft.blocksense.network/components/XHandle.tsx
Labels: refactoring, area:nft

#1330 [nft]: Texts updates
  apps/nft.blocksense.network/components/AlertMessage.tsx
  apps/nft.blocksense.network/components/MintForm.tsx
  apps/nft.blocksense.network/components/MintMyNFTButton.tsx
Labels: refactoring, area:nft

#1342 feat(nft): Set rest banner
  apps/nft.blocksense.network/components/Form.tsx
  apps/nft.blocksense.network/components/RestFrom.tsx
Labels: area:nft

#1346 [nft]: `Banner` over `MobileNavbar`
  apps/nft.blocksense.network/components/Navbar.tsx
Labels: bug-fix, area:nft

#1352 refactor(nft): Restore mint form. Set last wind banner
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/components/Banner.tsx
  apps/nft.blocksense.network/components/Form.tsx
  apps/nft.blocksense.network/components/RestFrom.tsx
Labels: area:nft

#1309 feat(oracles/gecko-terminal): Add price feeds - CHOG, MOYAKI, MOLANDAK
  apps/oracles/gecko-terminal/spin.toml
  apps/oracles/gecko-terminal/src/lib.rs
  apps/trigger-oracle/README.md
  config/feeds_config_v2.json
Labels: area:oracle-scripts

#1356 [nft]: Finish the campaign
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/components/Form.tsx
  apps/nft.blocksense.network/components/NetworkLink.tsx
  apps/nft.blocksense.network/components/RestFrom.tsx
Labels: refactoring, area:nft

#1362 [base-utils]: Add pharos-testnet to base-utils
  .env.example
  libs/ts/base-utils/src/evm/networks.ts
Labels: area:base-utils, area:evm-smart-contacts

#1363 [docs.ws]: Add network icon for `Pharos`
  apps/docs.blocksense.network/public/images/network-icons/pharos.png
Labels: area:docs.ws

#1372 [ci/gh-actions]: Rename docs project name
  .github/workflows/ci.yml
  .github/workflows/on-main.yml
Labels: area:CI, refactoring

#1373 [nix/example-setup-01]: Update `eth-rpc` oracle `allowed-outbound-hosts`
  nix/test-environments/example-setup-01.nix
Labels: area:nix, configuration

#1378 [feed-config-v2]: Fix names of Monad feeds
  config/feeds_config_v2.json
Labels: feed_registry
