Repository blocksense-network/blocksense, pull requests merged in 2025-03, with the labels that each got.

#977 feat(docs.ws|refactor.ui): Add common Callout component
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/chainlink-proxy/page.mdx
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/feed-registry/page.mdx
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/historic-data-feed/page.mdx
  apps/docs.blocksense.network/app/docs/programming-languages-rnd/noir-plonky2-backend/page.mdx
  apps/docs.blocksense.network/components/DeployedContracts/DeployedContracts.tsx
  apps/docs.blocksense.network/components/common/Callout.tsx
Labels: enhancement, UI

#988 [ui]: Migrate Callout component to Storybook
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/chainlink-proxy/page.mdx
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/feed-registry/page.mdx
  apps/docs.blocksense.network/app/docs/contracts/integration-guide/using-data-feeds/historic-data-feed/page.mdx
  apps/docs.blocksense.network/app/docs/programming-languages-rnd/noir-plonky2-backend/page.mdx
  apps/docs.blocksense.network/components/DeployedContracts/DeployedContracts.tsx
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Callout/Callout.stories.tsx
  libs/ts/ui/src/components/Callout/Callout.tsx
  libs/ts/ui/src/components/Callout/index.tsx
  libs/ts/ui/src/index.tsx
Labels: documentation, UI

#992 [docs.ws/ui]: Migrate `DropdownMenu` and add story
  apps/docs.blocksense.network/components/ui/DataTable/DataTableViewOptions.tsx
  libs/ts/ui/assets/icons/chevron-right.svg
  libs/ts/ui/assets/icons/circle.svg
  libs/ts/ui/package.json
  libs/ts/ui/src/components/DropdownMenu/DropdownMenu.stories.tsx
  libs/ts/ui/src/components/DropdownMenu/DropdownMenu.tsx
  libs/ts/ui/src/components/DropdownMenu/index.tsx
Labels: enhancement, docs.ws, UI

#996 [docs.ws]: Add network icon for `hemi-sepolia`
  apps/docs.blocksense.network/public/images/network-icons/hemi.png
Labels: docs.ws

#969 [docs.ws]: Add Select component
  apps/docs.blocksense.network/components/common/Select.tsx
  apps/docs.blocksense.network/components/ui/DataTable/DataTablePagination.tsx
  apps/docs.blocksense.network/components/ui/select.tsx
Labels: enhancement, docs.ws

#999 [oracles]: Extend `prepare_get_request` with `User-Agent` header
  apps/oracles/crypto-price-feeds/src/http.rs
Labels: rust, oracle

#991 refactor(multichain-deploy): `multichain-deploy` works with new config
  libs/ts/contracts/tasks/multichain-deploy.ts
Labels: feed_registry, smart contacts

#1001 [ui]: Migrate Drawer component to Storybook
  apps/docs.blocksense.network/components/sol-contracts/ABIModal/ABIModal.tsx
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Drawer/Drawer.stories.tsx
  libs/ts/ui/src/components/Drawer/Drawer.tsx
  libs/ts/ui/src/components/Drawer/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1013 [ui]: Migrate ScrollArea component to Storybook
  apps/docs.blocksense.network/components/sol-contracts/ABIModal/ABIModal.tsx
  libs/ts/ui/package.json
  libs/ts/ui/src/components/ScrollArea/ScrollArea.stories.tsx
  libs/ts/ui/src/components/ScrollArea/ScrollArea.tsx
  libs/ts/ui/src/components/ScrollArea/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1019 [ui]: Migrate ProgressBar component to Storybook
  libs/ts/ui/package.json
  libs/ts/ui/src/components/ProgressBar/ProgressBar.stories.tsx
  libs/ts/ui/src/components/ProgressBar/ProgressBar.tsx
  libs/ts/ui/src/components/ProgressBar/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1015 [ui]: Migrate `Select` component to `Storybook`
  apps/docs.blocksense.network/components/ui/DataTable/DataTablePagination.tsx
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Select/Select.stories.tsx
  libs/ts/ui/src/components/Select/Select.tsx
  libs/ts/ui/src/components/Select/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1014 feat(docs.ws|refactor.ui): Add common Command component
  apps/docs.blocksense.network/components/common/Command.tsx
  apps/docs.blocksense.network/components/ui/DataTable/DataTableFacetedFilter.tsx
  apps/docs.blocksense.network/components/ui/command.tsx
  apps/docs.blocksense.network/public/icons/search.svg
Labels: docs.ws

#1021 feat(docs.ws|refactor.ui): Add common Slider component
  apps/docs.blocksense.network/components/common/Slider.tsx
Labels: docs.ws

#1025 [docs.ws]: Add common Table component
  apps/docs.blocksense.network/components/common/Table.tsx
  apps/docs.blocksense.network/components/sol-contracts/FunctionModifiers.tsx
  apps/docs.blocksense.network/components/sol-contracts/Parameters.tsx
  apps/docs.blocksense.network/components/ui/DataTable/DataTable.tsx
  apps/docs.blocksense.network/components/ui/table.tsx
Labels: enhancement, docs.ws

#1031 [ui]: Migrate Slider component to Storybook
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Slider/Slider.stories.tsx
  libs/ts/ui/src/components/Slider/Slider.tsx
  libs/ts/ui/src/components/Slider/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1024 [docs.ws]: Add common `Popover` component
  apps/docs.blocksense.network/components/common/Popover.tsx
  apps/docs.blocksense.network/components/ui/DataTable/DataTableFacetedFilter.tsx
  apps/docs.blocksense.network/components/ui/popover.tsx
Labels: enhancement, docs.ws

#1047 [oracles/crypto-price-feeds]: Add build command to `spin.toml`
  apps/oracles/crypto-price-feeds/spin.toml
Labels: oracle

#1045 [docs.ws/ui]: Migrate `Popover` component to `Storybook`
  apps/docs.blocksense.network/components/ui/DataTable/DataTableFacetedFilter.tsx
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Popover/Popover.stories.tsx
  libs/ts/ui/src/components/Popover/Popover.tsx
  libs/ts/ui/src/components/Popover/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1063 [oracles/crypto-price-feeds]: `symbol` in fill_results match symbol in exchanges
  apps/oracles/crypto-price-feeds/src/fetch_prices.rs
Labels: bug-fix, oracle

#1068 [oracles/crypto-price-feeds]: Improve `Missing pairs` and `Missing prices` to show the count
  apps/oracles/crypto-price-feeds/src/lib.rs
Labels: rust, oracle

#1075 [oracles/crypto-price-feeds]: Use itertools's join for BinanceUS
  apps/oracles/crypto-price-feeds/src/exchanges/binance_us.rs
Labels: rust, oracle

#1076 [config]: Add `ExSat BTC`, `USDT / WMON 0.2%` & pegged to 1 `USDC / USD` & `USDT / USD`
  config/feeds_config_v2.json
Labels: feed_registry

#1039 ci(gh-actions): Add deployment of UI components
  .github/workflows/ci.yml
Labels: github_actions, CI, UI

#1077 [docs.ws/ui]: Migrate `TextArea` component to `Storybook`
  libs/ts/ui/package.json
  libs/ts/ui/src/components/TextArea/TextArea.stories.tsx
  libs/ts/ui/src/components/TextArea/TextArea.tsx
  libs/ts/ui/src/components/TextArea/index.tsx
  libs/ts/ui/src/index.tsx
Labels: docs.ws, UI

#1085 [DFCG]: Implement price fetching for Binance
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/binance/binance.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/binance/types.ts
Labels: DFCG

#1086 [DFCG]: Implement price fetching for BinanceUS
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/binance-us/binance-us.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/binance-us/types.ts
Labels: DFCG

#1079 [nix/example-setup-01]: Update once again
  nix/modules/sequencer/backends/process-compose.nix
  nix/test-environments/example-setup-01.nix
Labels: nix, configuration

#1099 [DFCG]: Implement price fetching for MEXC
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/mexc/mexc.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/mexc/types.ts
Labels: DFCG

#1101 [DFCG]: Implement price fetching for Bitget
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bitget/bitget.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bitget/types.ts
Labels: DFCG

#1102 [DFCG]: Implement price fetching for Bybit
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bybit/bybit.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bybit/types.ts
Labels: DFCG

#1103 [DFCG]: Implement price fetching for Coinbase
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/coinbase-exchange/coinbase-exchange.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/coinbase-exchange/types.ts
Labels: DFCG

#1084 feat(docs.ws|refactor.ui): Add common Form component
  apps/docs.blocksense.network/components/common/Form.tsx
Labels: docs.ws

#1088 [docs]: Add initial version of `spellbook.md`
  docs/spellbook.md
Labels: documentation

#1110 [DFCG]: Implement price fetching for Kraken
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/kraken/kraken.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/kraken/types.ts
Labels: area:DFCG

#1111 [DFCG]: Implement price fetching for KuCoin
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/kucoin/kucoin.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/kucoin/types.ts
Labels: area:DFCG

#1112 [DFCG]: Implement price fetching for OKX
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/okx/okx.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/okx/types.ts
Labels: area:DFCG

#1113 [DFCG]: Implement price fetching for Upbit
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/upbit/types.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/upbit/upbit.ts
Labels: area:DFCG

#1116 [DFCG]: Implement price fetching for Bitfinex
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bitfinex/bitfinex.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/bitfinex/types.ts
Labels: area:DFCG

#1114 [DFCG]: Implement price fetching for Gemini
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/gemini/gemini.ts
  apps/data-feeds-config-generator/src/data-services/fetchers/exchanges/gemini/types.ts
Labels: area:DFCG

#1105 [ui]: Migrate Form component to Storybook
  libs/ts/ui/package.json
  libs/ts/ui/src/components/Form/Form.stories.tsx
  libs/ts/ui/src/components/Form/Form.tsx
  libs/ts/ui/src/components/Form/index.tsx
  libs/ts/ui/src/index.tsx
Labels: area:docs.ws, UI

#1123 docs(spellbook): Fix typo in `Using UpgradeableProxyADFS contract` example
  docs/spellbook.md
Labels: documentation

#1128 [nix/example-setup-01]: Update `ink-sepolia` fork URL
  nix/test-environments/example-setup-01.nix
Labels: nix

#1120 [docs.ws]: Add common `Checkbox` component
  apps/docs.blocksense.network/components/common/Checkbox.tsx
Labels: enhancement, area:docs.ws

#1136 refactor(nextra-theme-docs/tsup.config) Replace `npx` with `yarn`
  libs/ts/nextra-theme-docs/tsup.config.ts
Labels: area:docs.ws

#1140 [docs.ws/data-table]: Fix `getRowLink` function
  apps/docs.blocksense.network/components/common/DataTable/DataTable.tsx
  apps/docs.blocksense.network/components/common/DataTable/DataTableBadge.tsx
  apps/docs.blocksense.network/components/common/DataTable/dataTableUtils.ts
Labels: area:docs.ws, bug-fix

#1135 [docs.ws]: Add Links to our Contracts on GitHub
  apps/docs.blocksense.network/components/sol-contracts/AbsolutePath.tsx
  apps/docs.blocksense.network/components/sol-contracts/ContractsFileTree.tsx
Labels: area:docs.ws
