Repository blocksense-network/blocksense, pull requests merged in 2025-04, with the labels that each got.

#1154 feat(nft.blocksense.network) - Setup for Geist and GeistMono
  apps/nft.blocksense.network/app/globals.css
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/public/font/Geist-Regular.woff2
  apps/nft.blocksense.network/public/font/GeistMono-Regular.woff2
  apps/nft.blocksense.network/src/geist.ts
Labels: area:nft

#1159 Add more comments to ADFS and optimise some calculations
  libs/ts/contracts/contracts/AggregatedDataFeedStore.sol
  libs/ts/contracts/contracts/UpgradeableProxyADFS.sol
Labels: solidity

#1163 feat(docs.ws): Blocksense official rebranding preview
  apps/docs.blocksense.network/app/layout.tsx
  apps/docs.blocksense.network/components/sol-contracts/ContractBaseInfo.tsx
  apps/docs.blocksense.network/config.ts
  apps/docs.blocksense.network/public/fonts/SpaceMono-Bold.woff2
  apps/docs.blocksense.network/public/fonts/geist/Geist-Regular.woff2
  apps/docs.blocksense.network/public/fonts/geist/Geist-Thin.woff2
  apps/docs.blocksense.network/public/fonts/geist/GeistMono-Regular.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Black.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Bold.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-BoldItalic.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-ExtraBold.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Italic.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Light.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-LightItalic.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Medium.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Regular.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-SemiBold.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-SemiBoldItalic.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-Thin.woff2
  apps/docs.blocksense.network/public/fonts/noto-sans/NotoSans-ThinItalic.woff2
  apps/docs.blocksense.network/public/images/blocksense-bg.jpg
  apps/docs.blocksense.network/public/images/blocksense-favicon.png
  apps/docs.blocksense.network/public/images/blocksense-header__graphic.jpg
  apps/docs.blocksense.network/public/images/blocksense-logo__dark.png
  apps/docs.blocksense.network/public/images/blocksense-logo__light.png
  apps/docs.blocksense.network/public/images/dark/blocksense-bg-dark-secondary.jpg
  apps/docs.blocksense.network/public/images/dark/blocksense-bg-dark.jpg
  apps/docs.blocksense.network/theme.config.tsx
  apps/nft.blocksense.network/app/layout.tsx
  libs/ts/nextra-theme-docs/src/components/footer/index.tsx
  libs/ts/ui/assets/fonts/SpaceMono-Bold.woff2
  libs/ts/ui/assets/fonts/geist/Geist-Regular.woff2
  libs/ts/ui/assets/fonts/geist/Geist-Thin.woff2
  libs/ts/ui/assets/fonts/geist/GeistMono-Regular.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Black.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Bold.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-BoldItalic.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-ExtraBold.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Italic.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Light.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-LightItalic.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Medium.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Regular.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-SemiBold.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-SemiBoldItalic.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-Thin.woff2
  libs/ts/ui/assets/fonts/noto-sans/NotoSans-ThinItalic.woff2
  libs/ts/ui/blocksense-theme/base.css
  libs/ts/ui/blocksense-theme/dark.css
  libs/ts/ui/blocksense-theme/font/font-face.css
  libs/ts/ui/blocksense-theme/font/typography.css
  libs/ts/ui/blocksense-theme/nextra.css
  libs/ts/ui/blocksense-theme/variables.css
Labels: area:docs.ws

#1168 [DFCG]: `isPairSupportedByCryptoProvider` accepts `includeStableCoins` param
  apps/data-feeds-config-generator/src/generation/initial/data-providers.ts
Labels: area:DFCG

#1167 [docs.ws]: Implement `useHash` hook
  apps/docs.blocksense.network/hooks/useHash.ts
Labels: area:docs.ws

#1175 feat(nft.blocksense.network): Define typography - Blocksense NFT
  apps/nft.blocksense.network/app/globals.css
  apps/nft.blocksense.network/app/typography/default.css
  apps/nft.blocksense.network/app/typography/medium-large.css
  apps/nft.blocksense.network/src/geist.ts
Labels: area:nft

#1176 feat(nft.blocksense.network): Define color tokens - Blocksense NFT
  apps/nft.blocksense.network/app/design-system/colors.css
  apps/nft.blocksense.network/app/design-system/typography/default.css
  apps/nft.blocksense.network/app/design-system/typography/medium-large.css
  apps/nft.blocksense.network/app/globals.css
Labels: area:nft

#1193 fix(nft.blocksense.network): Update Geist and GeistMono font configuration
  apps/nft.blocksense.network/src/geist.ts
Labels: bug-fix, area:nft

#1195 [nft]: Use `<a>` for external links - `SocialNetworks`
  apps/nft.blocksense.network/components/SocialNetworks.tsx
Labels: bug-fix, area:nft

#1191 feat(nft.blocksense.network): Add Footer component
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/app/page.tsx
  apps/nft.blocksense.network/components/Footer.tsx
  apps/nft.blocksense.network/components/NFTDrop.tsx
Labels: area:nft

#1188 [nft]: Implement desktop and mobile `Navbar`
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/components/Navbar.tsx
  apps/nft.blocksense.network/public/icons/close.svg
  apps/nft.blocksense.network/public/icons/open.svg
Labels: enhancement, area:nft

#1204 [oracles/crypto-price-feeds]: Rename variables in `lib.rs` file
  apps/oracles/crypto-price-feeds/src/lib.rs
Labels: oracle

#1225 [nft]: Update colors
  apps/nft.blocksense.network/app/design-system/colors.css
  apps/nft.blocksense.network/app/design-system/typography/medium-large.css
Labels: enhancement, area:nft

#1228 [nft]: Fix default colors for mobile
  apps/nft.blocksense.network/app/design-system/typography/default.css
  apps/nft.blocksense.network/app/design-system/typography/medium-large.css
Labels: refactoring, area:nft

#1229 [contracts]: Add type declaration for `prettier-plugin-solidity`
  libs/ts/contracts/@types/prettier-plugin-solidity.d.ts
  libs/ts/contracts/tsconfig.json
Labels: build, area:evm-smart-contacts

#1232 [oracles]: Make `just start-oracle <oracle>` great again
  apps/oracles/crypto-price-feeds/spin.toml
  apps/oracles/eth-rpc/spin.toml
  apps/oracles/exsat-holdings/spin.toml
  apps/oracles/gecko-terminal/spin.toml
Labels: configuration

#1234 fix(nft.blocksense.network): Apply backdrop effect to main header
  apps/nft.blocksense.network/components/Navbar.tsx
Labels: area:nft

#1242 fix(nft.blocksense.network): 404 and 500 page updates
  apps/nft.blocksense.network/app/error.tsx
  apps/nft.blocksense.network/app/not-found.tsx
Labels: area:nft

#1244 feat(nft.blocksense.network): Seo updates
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/config.ts
  apps/nft.blocksense.network/public/images/blocksense_og.png
Labels: area:nft

#1210 feat(nft.blocksense.network): Add CTA
  apps/nft.blocksense.network/app/page.tsx
  apps/nft.blocksense.network/components/CTA.tsx
  apps/nft.blocksense.network/public/images/bg-cta-desktop.png
  apps/nft.blocksense.network/public/images/bg-cta-mobile.png
Labels: area:nft

#1223 feat(nft.blocksense.network): Add About component
  apps/nft.blocksense.network/app/page.tsx
  apps/nft.blocksense.network/components/About.tsx
  apps/nft.blocksense.network/public/images/about-vector.svg
  apps/nft.blocksense.network/public/images/bsx-parrot-mobile.png
  apps/nft.blocksense.network/public/images/bsx-parrot.png
  apps/nft.blocksense.network/public/images/bsx-pirate.png
  apps/nft.blocksense.network/public/images/bsx-robot-mobile.png
  apps/nft.blocksense.network/public/images/bsx-robot.png
  apps/nft.blocksense.network/public/images/bsx-warrior-mobile.png
  apps/nft.blocksense.network/public/images/bsx-warrior.png
Labels: area:nft

#1248 feat(nft.blocksense.network): Add og image to be the BS one
  apps/nft.blocksense.network/app/layout.tsx
Labels: area:nft

#1249 feat(nft.blocksense.network): Add GA scripts and exchange sections
  apps/nft.blocksense.network/app/layout.tsx
  apps/nft.blocksense.network/app/page.tsx
Labels: area:nft

#1251 feat(nft.blocksense.network): Add pirate image without shadow
  apps/nft.blocksense.network/public/images/bsx-pirate-nft.png
Labels: area:nft

#1255 refactor(nft.blocksense.network): Replace Next link with plain anchor in Logo component
  apps/nft.blocksense.network/components/Logo.tsx
Labels: area:nft

#1256 [nft.blocksense.network]: Set port `3002` when start dev
  apps/nft.blocksense.network/package.json
Labels: build, area:nft
