Repository blocksense-network/blocksense, pull requests merged in 2025-09, with the labels that each got.

#1628 [docs.ws/changelog-gen]: Return `somnia-mainnet`
  apps/changelog-generator/src/commands/list-feeds.ts
  apps/docs.blocksense.network/app/docs/contracts/deployed-contracts/page.mdx
  apps/docs.blocksense.network/components/DataFeeds/[feed].tsx
Labels: area:docs.ws, refactoring, changelog-generator

#1632 [.envrc]: Add `--accept-flake-config` to `use flake`
  .envrc
Labels: area:nix

#1633 [base-utils/tty/getTextWidth]: Fix compatibility with hardhat (ts-node)
  libs/ts/base-utils/package.json
  libs/ts/base-utils/src/tty.ts
  yarn.lock
Labels: area:base-utils

#1657 [base-utils]: Add whitelist for special symbols
  libs/ts/base-utils/src/tty.ts
Labels: area:base-utils

#1639 [e2e-tests]: Kill `process-compose` when `SIGINT` is caught during tests execution
  apps/e2e-tests/src/process-compose/e2e.spec.ts
Labels: e2e-tests

#1684 [dev/feeds]: Don't set `availableNetworks` top-level variable
  apps/dev/src/commands/feeds/list/list.ts
  apps/dev/src/commands/feeds/read/adfs.ts
  apps/dev/src/commands/feeds/read/cl-adapter.ts
Labels: dev

#1689 [oracles]: Update oracle descriptions
  apps/oracles/borrow-rates/Cargo.toml
  apps/oracles/cex-price-feeds/Cargo.toml
  apps/oracles/commodities-price-feeds/Cargo.toml
  apps/oracles/eth-rpc/Cargo.toml
  apps/oracles/exsat-holdings/Cargo.toml
  apps/oracles/forex-price-feeds/Cargo.toml
  apps/oracles/gecko-terminal/Cargo.toml
  apps/oracles/spout-rwa/Cargo.toml
  apps/oracles/stock-price-feeds/Cargo.toml
Labels: refactoring, area:oracle-scripts
